* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #505054;
    border-radius: 2px;
}

body {
    display: block;
    background-color: #101014;
    color-scheme: dark;
}

#app {
    display: grid;
    grid-template:
        'in output' 1fr
        'in extra' 1fr / 1fr 1fr;
    gap: 12px;
    padding: 18px;
    height: 100vh;
}

textarea, #output, #extra-output {
    padding: 12px 15px;
    background-color: #141418;
    border: 1px solid #202024;
    border-top-color: #242428;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15),
                0 1px 6px rgba(255,255,255,0.02) inset;
    color: #d0dade;
    font-family: 'JetBrains Mono';
    font-size: 14px;
    font-weight: 500;
}

textarea {
    grid-area: in;
    outline: none;
    resize: none;
}

#output,
#extra-output {
    grid-area: output;
    white-space: pre-wrap;
    color: #bed0e2;
}

#output {
    overflow: auto;
}

#extra-output {
    grid-area: extra;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

#extra-output .header {
    display: flex;
    flex-shrink: 0;
    background-color: rgba(255,255,255,0.01);
    border-bottom: 1px solid rgba(255,255,255,0.025);
    border-radius: 6px 6px 0 0;
}

button#execute {
    flex-shrink: 0;
    margin: auto;
    margin-right: 9px;
    width: 32px;
    height: 32px;
    background-color: #2d5728;
    background-image: url('./assets/execute.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid rgba(255,255,255,0.15);
    border-top-color: rgba(255,255,255,0.2);
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15),
                0 1px 6px rgba(255,255,255,0.1) inset;
    cursor: pointer;
    transition: background-color 0.1s;
}

button#execute:hover {
    background-color: #31632b;
}

#extra-output .tabs {
    display: flex;
    padding: 9px;
    width: 100%;
}

#extra-output .tabs button {
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #d0d0d4;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.1s;
}

#extra-output .tabs button:hover {
    color: #f0f0f4;
}

#extra-output .tabs button.active {
    background-color: rgba(240,240,255,0.05);
    border-color: rgba(240,240,255,0.05);
    box-shadow: 0 1px 6px rgba(255,255,255,0.02) inset;
    color: #ffffff;
}

#extra-output .content {
    flex-grow: 1;
    padding: 12px 15px;
    margin-right: 6px;
    overflow: auto;
}

#extra-output .content.error {
    color: #d04040;
}

#extra-output .content mark {
    background-color: transparent;
    color: #808088;
}

.token--string {
    color: #addbbc;
}

.token--title {
    color: #e6eaef;
}

.token--keyword {
    color: #228a96;
}

.token--number {
    color: #61bcc6;
}

.token--comment {
    color: #44515e;
}

.token--attr {
    color: #aeb9c4;
}

.token--property {
    color: #bed0e2;
}

.token--variable {
    color: #30c1ae;
    font-weight: 500;
}


/*yaml*/
.token--literal {
    color: #228a96;
}

.token--bullet {
    color: #808080;
}